/* body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

.main-box {
    width: 350px;
    background-color: #c6b7e8;
    margin: 30px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.main-box h2 {
    color: #3b2b66;
    margin-bottom: 20px;
}

.small-box {
    background-color: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.title {
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
}

.big {
    font-size: 28px;
    font-weight: bold;
    color: #000;
} */


body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 40px;
    width: 90%;
    margin: auto;
}

.card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    padding-bottom: 20px;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card h3 {
    margin: 15px 0 5px;
    font-size: 18px;
    color: #333;
}

.card p {
    margin: 0;
    color: #666;
}

.card .logo {
    width: 80px;
    margin-top: 12px;
}

